* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#adicionar {
    height: 50px;
    width: 50px;
}

#remover {
    height: 50px;
    width: 50px;
}

.imgs {
    height: 150px;
    width: 150px;
}

.card {
    display: flex;
    justify-content: center;
    height: 152px;
    width: 153px;
    border: 1px solid black;
}

.detectar {
    position: absolute;
    height: 20px;
    width: 20px;
}